.menu-section {
    padding: 4rem 0.5rem;
    background: linear-gradient(
        120deg,
        #ece9c7,
        #fffefa,
        #dfdfa9,
        #ffd2a4,
        #fefdf2
    );
    position: relative;
}

.menu-header {
    text-align: center;
    margin-bottom: 30px;
}

.menu-header p {
    margin: 1rem;
    font-size: 1rem;
    color: var(--text-primary-orange);
}

.filter-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 20px;
}

.menu-item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px #0000001a;
    transition: transform 0.5s ease;
}

.menu-item-img-wrapper {
    width: 100%;
    height: 350px !important;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}

.menu-item-img-wrapper:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 15px #00000033;
    top: 0;
    left: 0;
}

.card-front {
    z-index: 2;
    transform: rotate(0deg);
}

.card-front-overlay .front-name {
    font-family: "Satisfy", cursive;
    color: var(--text-primary-dark);
}

.card-back {
    position: relative;
    transform: rotateY(180deg);
    z-index: 1;
}

.card-back::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--back-img) center/cover no-repeat;
    filter: blur(8px);
    transform: scale(1.1);
    z-index: 0;
}

.card-back::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #0000002f;
    z-index: 1;
    backdrop-filter: brightness(0.9);
}

.card-back > * {
    position: relative;
    z-index: 2;
}

.overlay-icons {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.overlay-icons i {
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--primary-dark);
    transition: transform 0.7s cubic-bezier(0.04, 0.57, 0.36, 0.87);
}

.overlay-icons i:hover {
    transform: rotateY(360deg);
}

.menu-item-content {
    position: absolute;
    bottom: 20px;
}

.menu-item-title,
.menu-item-desc,
.menu-item-price {
    transform: translateY(100px);
    filter: blur(20px);
    opacity: 0;
    transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
}

.menu-item-title h3 {
    font-family: "Satisfy", cursive;
    font-size: 32px;
    color: var(--text-primary-dark);
    position: relative;
}

.menu-item-title {
    position: relative;
    display: inline-block;
}

.menu-item-title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0px;
    left: 50%;
    background-color: var(--text-primary-dark);
    transition: width 0.6s ease-in-out;
    transform: translate(-50%);
}

.menu-item-img-wrapper:hover .card-back .menu-item-title {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
    transition-delay: 0.2s;
}
.menu-item-img-wrapper:hover .card-back .menu-item-desc {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
    transition-delay: 0.4s;
}
.menu-item-img-wrapper:hover .card-back .menu-item-price {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
    transition-delay: 0.6s;
}

.menu-item-img-wrapper:hover .card-back .menu-item-title::after {
    width: 100%;
    transition-delay: 0.4s;
}

.font-satisfy {
    font-family: "Satisfy", cursive;
}

.primary-btn:hover::before {
  width: 400px !important; 
  height: 400px !important;
}

.full-screen-modal:fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toastBody {
  font-size: 2rem !important;
  color: red;
}


@media (max-width: 992px) {
    .menu-item-img-wrapper {
        height: 300px;
    }
    menu-section {
        padding: 5rem 2rem;
    }
}

@media (max-width: 768px) {
    menu-section {
        padding: 4rem 1rem;
    }
    .menu-item-img-wrapper {
        height: 250px;
    }
    .menu-header h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .menu-item-img-wrapper {
        height: 200px;
    }
    .menu-header h2 {
        font-size: 2rem;
    }
}
