/* Custom CSS for the sliding hover animation */
.secondary-btn {
    display: block; 
    transition: color 0.3s ease; 
}

.secondary-btn:not(.active):not(:hover) {
    color: #ff9100;
}

.secondary-btn::before,
.secondary-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eb8c07;
    top: 0;
    left: -100%; 
    z-index: -1;
}

.secondary-btn::before {
    opacity: 0.7;
    transition: left 0.4s ease 0s;
}

.secondary-btn::after {
    opacity: 1;
    transition: left 0.4s ease;
    transition-delay: 0.2s;
}

.secondary-btn:hover {
    color: #fff !important;
}

.secondary-btn:hover::before {
    left: 0;
    transition: left 0.4s ease 0s;
}

.secondary-btn:hover::after {
    left: 0; 
}

.secondary-btn.active::before,
.secondary-btn.active::after {
    left: 0;
    transition: none !important;
}

.secondary-btn:not(.active) {
    color: #ff9100; 
}

.secondary-btn.active {
  background: #eb8c07;
  color: #fff !important;
  transition: none;
}

