.services-header p {
    color: var(--text-primary-orange);
}

.service-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ffddc2 20%, #ff7b00);
    border-radius: 10px;
    z-index: -1;
    padding: 3px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: rotate 3s linear infinite;
    background-size: 400% 400%;
}

@keyframes rotate {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-view {
    animation: scrolltext both;
    animation-timeline: view();
    animation-range: entry 20% cover 80vh;
}

@keyframes scrolltext {
    from {
        opacity: 0;
        transform: translateY(100px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}
