/* --- Custom Button Hover Effect --- */
:root {
    --btn-primary: #ee9a4d;
}

.primary-btn {
  position: relative;
  --x: 50%;
  --y: 50%;
}

.primary-btn::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 0;
  height: 0;
  background: var(--btn-primary); 
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease-out, height 0.5s ease-out; 
  z-index: 5; 
}

.primary-btn:hover::before {
  width: 300px; 
  height: 300px;
}

.primary-btn span {
    z-index: 10;
}